<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.orni.fivedailyfoodplan" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/lose2"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainMenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FoodPlanForKidsActivity"
            android:label="@string/title_activity_food_plan_for_kids" >
        </activity>
        <activity
            android:name=".FoodPlanForAdultActivity"
            android:label="@string/title_activity_food_plan_for_adult" >
        </activity>
        <activity
            android:name=".FoodPlanForOlderActivity"
            android:label="@string/title_activity_food_plan_for_older" >
        </activity>
        <activity
            android:name=".FoodPlanForLoseWeightActivity"
            android:label="@string/title_activity_food_plan_for_lose_weight" >
        </activity>
        <activity
            android:name=".FoodPlanForGainWeightActivity"
            android:label="@string/title_activity_food_plan_for_gain_weight" >
        </activity>
    </application>

</manifest>
